:
beautifulsoup4==4.6.0
bleach==1.5.0
bs4==0.0.1
certifi==2017.7.27.1
chardet==3.0.4
Command==0.1.0
enum34==1.1.6
html5lib==0.9999999
idna==2.6
lxml==4.1.0
Markdown==2.6.10
numpy==1.13.3
pandas==0.22.0
protobuf==3.5.1
psutil==5.4.3
PyMySQL==0.7.11
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
six==1.11.0
tensorflow==1.4.1
tensorflow-tensorboard==0.4.0rc3
urllib3==1.22
Werkzeug==0.13
